@using ASP.Server.Model
@model IEnumerable<Book>
@{
    ViewData["Title"] = "Home Page";
}

<div class="listeBooks">
    <h1>Liste des livres:</h1>
    <!-- la liste des genres est dans la variable Model qui est typé en ligne 3, elle correspond à la variable xxx dans View(xxx) du controller -->
        <table>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Author</th>
            <th>Content</th>
            <th>Price</th>
          </tr>
             @foreach (var book in Model)
                {
                     <tr>
                        <td>@book.Id</td>
                        <td>@book.Name</td>
                        <td>@book.Author</td>
                        <td>@book.Content</td>
                        <td>@book.Price</td>
                        <td><a asp-controller="Book" asp-action="Edit"> EditOld</a></td>
                        <td> @Html.ActionLink("Edit", "Edit", new { controller = "Book",  id = book.Id }) </td>
                        <td><a>Delete</a></td>
                     </tr>   
                }
        </table>
    
</div>

